.scrollTopBtnContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 42px;
  width: 46px;
  height: 46px;
  background: transparent;
  z-index: 1;
  button {
    width: 46px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    box-shadow: var(--primary-color) 4px 2px 2px 0px,
      var(--disabled-color) 4px -2px 6px 0px;
    color: var(--dark-color);
    border-radius: 50%;
    font-weight: 700;
    svg {
      width: 32px;
      color: var(--primary-color);
    }
    &:hover {
      background: var(--white-color);
      box-shadow: var(--primary-color) -2px -2px 2px 0px,
        var(--white-color) 4px -2px 6px 0px;
      transition: 0.5s ease-in-out;
      svg {
        animation: animation 0.75s infinite;
        transform: scale3d();
      }
      @keyframes animation {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}
