.layout {
  &.list {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
    row-gap: 0.25rem;
  }
  .header {
    &.frame {
      margin: 0 1rem !important;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 40px;
      font-weight: 700;
      font-family: var(--font-waterfall);
      width: -webkit-fill-available;
      background-image: url(../../styles/header-frame11.png);
      background-size: 420px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: inherit;
      border: none;
      background-blend-mode: luminosity;
    }
  }
  .content {
    display: grid !important;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem 2rem;
    overflow-y: scroll;
    height: 100%;
    max-height: 78vh;
    overflow-x: hidden;

    .cardy {
      background: var(--beige-color);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      padding: 0.5rem;
      width: 100%;
      min-width: 210px;
      max-width: 210px;
      display: flex !important;
      flex-direction: column !important;
      justify-content: flex-start;
      align-items: center;
      row-gap: 0.5rem;
      border-bottom: 2px solid var(--primary-color);
      border-radius: 0.5rem;
      &:hover {
        transition: 0.5s ease-in-out;
        cursor: pointer;
        background: var(--beige-hover-color);
        transform: scale(1.025);
        color:var(--text-color);
      }
      &__title {
        p {
          margin-bottom: 0;
          font-size: 28px;
          line-height: 30px;
          font-weight: 700;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 0.25rem;
          font-family: var(--font-waterfall);
         
          span {
            filter: contrast(25%);
            font-size: 16px;
          }
        }
      }
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: last baseline;
        row-gap: 0.25rem;
        //min-height: 78vh;
        p {
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 0;
          color: var(--text-color);
          span {
            color: var(--primary-color);
            font-weight: 600;
          }
        }
        a {
          &.btn {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            column-gap: 1rem;
            background: transparent;
            color: var(--primary-color);
            font-weight: 700;
            span {
              display: inline-block;
              transition: transform 0.3s ease;
            }
            &:hover {
              span {
                animation: leftToRight 1s ease-in-out infinite;
                transform: scale(1.5);
              }
            }
          }
        }
        @keyframes leftToRight {
          0% {
            transform: translateX(100%) scale(1);
          }
          50% {
            transform: translateX(50%) scale(1.5);
          }
          100% {
            transform: translateX(100%) scale(1.25);
          }
        }
      }
    }
  }
}
