.layout{
    overflow: hidden;
    max-width: -webkit-fill-available;
    &.footer{
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--white-color);
        width: 100%;
        position: fixed;
        bottom: 0;
        margin: 1rem 1.25rem!important;
        p{
            font-size: 12px;
            margin-bottom: 0;
            a{
                color: var(--primary-color);
            }
        }
    }
}